body{
    background-color: black;
}
#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(to right, #0f0f0f, #2d1b4e);
    color: white;
    padding: 20px;
    margin-bottom: 2px;
}
#nav a{
    text-decoration: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
#nav a:hover{
    transform:scale(1.2);
}
#nav h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
#hero{
    background:linear-gradient(to right, #0f0f0f, #2d1b4e);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#search{
    margin-top: 2px;
    height: 200px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to right, #0f0f0f, #2d1b4e);
}
#box input{
    background-color: rfba(0,0,0,0.3);
}
#box label{
    color: #F3F4F6;
    font-size: 35px;
}
#box{
    text-align: center;
}
#box input{
    padding: 10px;
}
#box placeholder{
    font-size: 15px;
}
#btn{
    padding: 8px;
    font-size: 16px;
}
input::placeholder{
    font-size: 16px;
}
#first{
    background: linear-gradient(to bottom,#000000, #0f172a, #000000);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#first a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.movies{
    text-align: center;
}
.movies:hover{
    transform:scale(1.07);
    transition: 0.2s;
    box-shadow: 0 0 20px #00BFFF;
}
#firstRow h2{
    color: white;
    background: linear-gradient(to bottom,#000000, #0f172a, #000000);;
}
#firstRow{
    text-align: center;
    padding: 20px;
}
#secRow h2{
    color: white;
    background: linear-gradient(to bottom,#000000, #0f172a, #000000);;
}
#secRow{
    text-align: center;
    margin-top: 8px;
    padding: 20px;
}
#second{
    background: linear-gradient(to bottom,#000000, #0f172a, #000000);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#second a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#footer{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 2px;
    background:linear-gradient(to right, #0f0f0f, #2d1b4e);
}
#footer a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
}
#footer h1,h2,h4{
    margin-top:0;
}
#firstRow h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#secRow h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}