body{
    background-color: black;
}
#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(to right, #0f0f0f, #2d1b4e);
    color: white;
    padding: 20px;
    margin-bottom: 2px;
}
#nav a{
    text-decoration: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
#nav a:hover{
    transform:scale(1.2);
}
#nav h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
#hero{
    background:linear-gradient(to right, #0f0f0f, #2d1b4e);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#form{
    text-align: center;
    background-color: black;
    padding-right: 25px;
    padding-left: 25px;
    background-color: rgba(255,255,255,0.04);
    backdrop-filter: blur(8px);
    border: rgba(255,255,255,0.1);
    border-radius: 20px;
}
#form textarea{
    padding: 10px;
}
#form input{
    background-color: rfba(0,0,0,0.3);
    padding: 10px;
}
#form h2,label{
    color: #F3F4F6;
    font-size: 22px;
}
#form button{
    padding: 5px;
    font-size: 18px;
}
input::placeholder{
    font-size: 16px;
}
textarea::placeholder{
    font-size: 16px;
}
#box{
    margin-top: 2px;
    height: 250px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to right, #0f0f0f, #2d1b4e);
}
#footer{
    margin-top: 0;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 2px;
    background:linear-gradient(to right, #0f0f0f, #2d1b4e);
    padding: 15px;
}
#footer a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white
}
#footer h1,h2,h4{
    margin-top:0;
}