body{
    background-color: black;
}
#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(to right, #0f0f0f, #2d1b4e);
    color: white;
    padding: 20px;
}
#nav a{
    text-decoration: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
#nav a:hover{
    transform:scale(1.2);
}
#nav h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.carousel-item img{
    height: 600px;
    object-fit: cover;
    width: 100%;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    background: linear-gradient(to bottom,
    #0f0f0f,
    #1a1a2e);
}
.carousel{
width: 100%;
}
#trending{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 2px;
    background:linear-gradient(to right, #0f0f0f, #2d1b4e);
}
#trending h2{
    font-family: Arial, Helvetica, sans-serif;
}

#first{
    background: linear-gradient(to bottom,#000000, #0f172a, #000000);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    margin-top: 2px;
}
#first a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.movies{
    text-align: center;
}
.movies span{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.movies:hover{
    transform:scale(1.07);
    transition: 0.2s;
    box-shadow: 0 0 20px #00BFFF;
}
#second{
    background: linear-gradient(to bottom,#000000, #0f172a, #000000);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}
#second a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#browseByGenre{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 2px;
    background:linear-gradient(to right, #0f0f0f, #2d1b4e);
}
#third{
    margin-top: 2px;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to bottom,#000000, #0f172a, #000000);
    color: white;
}
.genres{
    text-align: center;
}
.genres a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.genres:hover{
    transform:scale(1.07);
    transition: 0.2s;
    box-shadow: 0 0 20px #00BFFF;
}
#footer{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 2px;
    background:linear-gradient(to right, #0f0f0f, #2d1b4e);
}
#footer a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white
}
.carousel-caption h4{
    font-family: Georgia;
    color: #F5E6C8;
    font-weight: 10;
}
.carousel-caption h6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: white;
    font-weight: 10;
}